@import "_mixins.sass";
@import "_solarized.scss";
@import "_reset.scss";



// gutters
$gutter-horizontal: 1em;
$gutter-vertical: 10px;



html {
  font-size: 16px;
  line-height: 24px;
  background-color: $bgcolor;
  color: $body-copy-color;
}



body {
  border-top: .5em solid $bghlights;
}



#main {
  text-align: center;
  padding-top: 8em;
  margin: 0 auto;
}


blockquote {
  display: inline-block;
  vertical-align: middle;
  padding: 0 $gutter-horizontal 0 $gutter-horizontal;
  text-shadow: 0 1px 0 white;
}

#permalink {
  display: none;
}

blockquote:hover #permalink {
  display: block;
}

#quote {
  font-style: italic;
  font-size: 47px;
  line-height: 58px;
  text-align: right;

  &:before {
    content: '“';
    color: $comments;
    display: inline-block;
    margin-right: .25em;
    font-size: 1.2em;
  }
}



footer {
  text-align: right;
  color: $comments;
  font-size: 14px;
  line-height: 22px;
  font-family: arial, sans-serif;
}



a {
  color: $comments;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

