@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "_mixins.sass";
@import "_solarized.scss";
@import "_reset.scss";
@import "_animations.scss";



$gutter-horizontal: 1em;
$gutter-vertical: 10px;



html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $bgcolor;
  color: $body-copy-color;
}



body {
  border-top: .5em solid $bghlights;
  text-align: center;
}



a {
  color: $comments;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#controls li {
  display: inline-block;
  padding: 0 $gutter-horizontal/2;
  margin: $gutter-vertical 0 0;
  text-transform: lowercase;

  a {
    color: lighten($comments, 15);
  }

  &:first-of-type {
    border-right: 1px $bghlights solid;
  }
}


#main {
  padding-top: 8em;
  margin: 0 auto;
  max-width: 80em;
}



blockquote {
  display: inline-block;
  vertical-align: middle;
  padding: 0 $gutter-horizontal 0 $gutter-horizontal;
  text-shadow: 0 1px 0 white;
}



#quote {
  font-size: 47px;
  line-height: 58px;

  &:before, &:after {
    color: $comments;
    font-size: 1.2em;
    display: inline-block;
  }

  &:before {
    content: '“';
  }

  &:after {
    content: '”';
  }

}



#citation:before {
  content: "-";
}



footer {
  color: $comments;
  font-size: 14px;
  line-height: 22px;
}



.fallout {
  -webkit-animation: fallout 1s;
}