@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "_mixins.sass";
@import "_solarized.scss";
@import "_reset.scss";




$gutter-horizontal: 1em;
$gutter-vertical: 10px;
$control-link: lighten($comments, 15);



html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $bgcolor;
  color: $body-copy-color;
}



body {
  border-top: .5em solid $bghlights;
  text-align: center;
}



a {
  color: $comments;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#controls li {
  display: inline-block;
  padding: 0 $gutter-horizontal/2;
  margin: $gutter-vertical 0 0;
  text-transform: lowercase;
  width: 50%;

  a {
    color: $control-link;
  }

  &:first-of-type {
    text-align: right;
    border-right: 1px $bghlights solid;
  }

  &:last-of-type {
    text-align: left;
  }
}


#main {
  padding-top: 8em;
  margin: 0 auto;
  max-width: 80em;
}



blockquote {
  display: inline-block;
  vertical-align: middle;
  padding: 0 $gutter-horizontal 0 $gutter-horizontal;
  text-shadow: 0 1px 0 white;
}



#quote {
  font-size: 47px;
  line-height: 58px;

  &:before, &:after {
    color: $comments;
    font-size: 1.2em;
    display: inline-block;
  }

  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}



#citation:before {
  content: "-";
}


#social {

  $height: 24px;

  padding-top: 6em;

  margin-bottom: $gutter-vertical;

  a {
    color: $control-link;
    font-size: 16px;
    line-height: $height;
  }

  #tweet {
    &:before {
      display: inline-block;
      background: url('/images/twitter.png') center center no-repeat;
      background-size: contain;
      height: $height;
      width: $height;
      content: '';
      vertical-align: bottom;
    }
  }
}


footer {
  color: $comments;
  font-size: 14px;
  line-height: 22px;
}

