%html
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %title Blockquoted
    %link{rel: 'icon', href: '/favicon.png'}
    %link{rel:'stylesheet', type:'text/css', href:'/stylesheets/css/screen.css'}
  %body
    %section#controls
      %ul
        %li>
          %a{href:'https://github.com/adscott/blockquoted'} Contribute
        %li>
          %a#another{href: '/'}
            Random Quote
    %section#main
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8714985-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{src: '/javascripts/jquery-2.0.0.min.js'}
    %script{src: '/javascripts/underscore.js'}
    %script{src: '/javascripts/underscore.string.js'}
    %script{src: '/javascripts/json2.js'}
    %script{src: '/javascripts/haml.min.js'}
    %script{src: '/javascripts/n.min.js'}
    %script{src: '/javascripts/loader.js'}
    %script{src: '/javascripts/render.js'}
    %script{src: '/javascripts/events.js'}
