%html
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %title Blockquoted
    %link{rel: 'icon', href: versioned_static('/favicon.png')}
    %link{rel: 'stylesheet', type: 'text/css', href: versioned_stylesheet('screen')}
  %body
    %section#controls
      %ul
        %li>
          %a{href: 'https://github.com/adscott/blockquoted'} Contribute
        %li>
          %a#another{href: '/'}
            Random Quote
    %section#main
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8714985-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{src: versioned_javascript('jquery-2.0.0.min')}
    %script{src: versioned_javascript('underscore')}
    %script{src: versioned_javascript('underscore.string')}
    %script{src: versioned_javascript('json2')}
    %script{src: versioned_javascript('haml.min')}
    %script{src: versioned_javascript('n.min')}
    %script{src: versioned_javascript('loader')}
    %script{src: versioned_javascript('render')}
    %script{src: versioned_javascript('events')}
