%blockquote
  %p#quote= quote.copy
  %footer
    - if quote.has_citation?
      %p#citation
        - if quote.has_citation_url?
          %em
            %a{:href => quote.citation_url}= quote.citation_text
        - else
          %em= quote.citation_text
    %ul.footer-links
      %li>
        %a{:href => "/#{quote.hash_string}"}= 'Link to this quote'
      %li>
        %a{href:"https://github.com/adscott/blockquoted"} Contribute
      %li>
        %a{href:"https://github.com/adscott/blockquoted"} Show me another
