%blockquote
  %p#quote= quote.copy
  %footer
    - if quote.has_author?
      %p#citation
        %span= quote.author
    - if quote.has_link?
      %p
        %a{:href => quote.url}= quote.link_text
    %p
      %a.permalink{:href => "/#{quote.hash_string}"}= 'permalink'
