%html
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %title Site title
    %link{rel:'stylesheet', type:'text/css', href:'/stylesheets/css/screen.css'}

  %body
    %section#main= yield
