@charset "UTF-8";
html {
  font-size: 14px;
  background-color: #fdf6e3;
  color: #657b83; }

#main {
  text-align: center; }

blockquote {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 1.5em 0 1.5em;
  text-align: center;
  font-style: italic;
  font-size: 3em;
  text-shadow: 0 1px 0 white; }
  blockquote:before, blockquote:after {
    position: absolute;
    color: #93a1a1;
    font-size: 4.8em; }
  blockquote:before {
    content: '“';
    top: -0.3em;
    left: -0.28em; }
  blockquote:after {
    content: '”';
    bottom: -0.76em;
    right: -0.2em; }
