@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal; }

html, body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden; }

html {
  font-size: 16px;
  line-height: 24px;
  background-color: #fdf6e3;
  color: #657b83; }

body {
  border-top: 0.5em solid #eee8d5;
  text-align: center; }

a {
  color: #93a1a1;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#forkme {
  position: absolute;
  top: 0;
  left: 0; }

#main, #main-footer {
  padding-top: 8em;
  margin: 0 auto;
  max-width: 80em; }

blockquote {
  display: inline-block;
  vertical-align: middle;
  padding: 0 1em 0 1em;
  text-shadow: 0 1px 0 white; }

#quote {
  font-style: italic;
  font-size: 47px;
  line-height: 58px; }
  #quote:before, #quote:after {
    color: #93a1a1;
    font-size: 1.2em;
    display: inline-block; }
  #quote:before {
    content: '“';
    margin-right: .25em; }
  #quote:after {
    content: '”'; }

#citation:before {
  content: "-"; }

footer {
  color: #93a1a1;
  font-size: 14px;
  line-height: 22px;
  font-family: arial, sans-serif; }
  footer .footer-links {
    margin-top: 20px;
    text-align: center; }
    footer .footer-links li {
      display: inline-block;
      border-top: 1px solid #eee8d5;
      padding: 10px 0; }
      footer .footer-links li:not(:last-of-type) a {
        border-right: 1px solid #eee8d5; }
    footer .footer-links a {
      display: block;
      text-transform: lowercase;
      padding: 0 0.5em; }
